XSDDynamoDB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with Liquid Studio 2017 - Community Edition 15.1.9.7584 (https://www.liquid-technologies.com) -->
<!-- created with XMLSpear -->
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.w3schools.com"
	xmlns="http://www.w3schools.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="User">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="EmailID" type="xsd:string"/>
				<xsd:element name="Name" type="xsd:string"/>
				<xsd:element name="Password" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PasswordID" type="xsd:string"/>
							<xsd:element name="pwd" type="xsd:string"/>
							<xsd:element name="salt" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
					<xsd:key name="PK_Password">
						<xsd:selector xpath="User/Password"/>
						<xsd:field xpath="PasswordID"/>
					</xsd:key>
				</xsd:element>
				<xsd:element name="MacAddress" type="xsd:string"/>
				<xsd:element name="LogedIn" type="xsd:boolean"/>
				<xsd:element name="File">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CurrentFileName" type="xsd:string" maxOccurs="1"/>
							<xsd:element name="OriginalFileName" type="xsd:string" maxOccurs="1"/>
							<xsd:element name="LongitudeCreated" type="xsd:decimal" maxOccurs="1"/>
							<xsd:element name="LatitudeCreated" type="xsd:decimal" maxOccurs="1"/>
							<xsd:element name="PwdDigest" type="xsd:string"/>
							<xsd:element name="BackedUp" type="xsd:string"/>
							<xsd:element name="Password">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="PasswordID" type="xsd:string"/>
										<xsd:element name="pwd" type="xsd:string"/>
										<xsd:element name="salt" type="xsd:string"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Area">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="AreaID" type="xsd:string"/>
										<xsd:element name="Longitude" type="xsd:decimal"/>
										<xsd:element name="Latitude" type="xsd:decimal"/>
										<xsd:element name="Radius" type="xsd:decimal"/>
										<xsd:element name="AreaType" type="xsd:boolean"/>
									</xsd:sequence>
								</xsd:complexType>
								<xsd:key name="PK_AREA">
									<xsd:selector xpath="User/File/Area"/>
									<xsd:field xpath="AreaID"/>
								</xsd:key>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
					<xsd:key name="PK_File">
						<xsd:selector xpath="User/File"/>
						<xsd:field xpath="CurrentFileName"/>
					</xsd:key>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:key name="PK_USER">
			<xsd:selector xpath="User"/>
			<xsd:field xpath="EmailID"/>
		</xsd:key>
	</xsd:element>
</xsd:schema>